body {
    font-family: 'hubballi', sans-serif;
}

.mainHeading {
    background: red;

}

/*section {
    display: inline-block;
    position: center;
    margin: auto;
}*/

.bioInfo {
    background: yellow;
    padding: .5rem;
}

.charaStats {
    background: rgb(201, 152, 106);
    padding: .5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    gap: .5rem;
    width: 300px;
    font-size: 25px;
}
 .charaIndStats {
     background-color: rgba(255, 0, 0, 0.788);
     padding: .5rem;
     gap: 100px;
     border: 2px solid black;
 }

 #inputStats {
     display: inline;
     float: right;
     width: 50px;
     text-align: right;
     gap: 50px;
 }
 